.classify-header{
	height: 5.6rem;
}
.classify-header-logo{
	    margin-top: 1.3rem;
}
.classify-header-logo h5{
	margin-left: 4rem;
	padding-top: 1rem;
	width: 100%;
}
.classify-header .classify-logoin{
	position: absolute;
    z-index: 889;
    background: #24272f;
    width: 10rem;
    height: 2.5rem;
    top: 31%;
    right: -3%;
}
.classify-logoin img{
	width: 2em;
	height: 2em;
}
.classify-cart{
  position: absolute;
  z-index: 999;
  top:5.4rem;
  width: 100%;
  height: 12rem;
  background: white;
  display: none;

}
.classify-cart h1{
	line-height: 3.9rem;
}
.blank{
	width: 100%;
	height:5.7rem;
}
/* <!-- 登录图标 --> */
.order-login{
	width: 100%;
	height: 10rem;
	overflow: hidden;
}
.order-login-icon{
	width: 35%;
	height: 100%;
	margin: 0 auto;
}
.order-login-icon img{
	width: 100%;
	height: 100%;

}
.name{
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	font-size: 2rem;
}
.name a{
	color: black;
}

/* 地址 */
/* .myaddress{
	position: relative;
	width: 100%;
	height: 2.5rem;
}



.myaddress b{
	position: absolute;
	left: 0;
} */
.myaddress span{
	position: absolute;
	right:1rem;
	display: inline-block;
	width: 25%;
	height: 2.5rem;
	background: #ccc;
	line-height: 2.5rem;
	text-align: center;
}


.address-item{
	position: relative;
	margin:1.5rem 0; 
	border: 1px solid #000;
}
.address-item span{
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	line-height:3.5rem;
	text-align: center;
	background: orange;
}

/* 增加收货地址 */

.increase{
	position: absolute;
	width: 100%;
	height: 80%;
	z-index: 9999;
	display: none;
	background: rgba(0, 0, 0, .5);
	border: 1px solid black;
}
.increase::before{
	position: relative;
	
}
.newly{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
}
.newly h2{
	position: absolute;
	top:25%;
	left: 29%;
	font-size: 1.5rem;
	color: yellow;
}
.newly span{
	position: absolute;
	top: 0;
	right: 2.5rem;
	color: yellow;
}
 form{
 	position: absolute;
 	top: 10%;
 	left: 10%;
	width: 80%;
	height: 80%;
	z-index: 999;
	background: skyblue;
	border: .2rem solid #ccc;
}
/* 我的 */
.my-shop{
	width: 100%;
}
.my-shop li{
	position: relative;
	width: 100%;
	height:3.5rem;
	font-weight: 900;
	line-height: 2.5rem;
	border-bottom:1px solid #333; 
	background: #c3dcba;
}
.my-shop li img{
	position: absolute;
}
.my-shop li:nth-child(1) img{
	top: 22%;
	left: 27%;
	width: 10%;
	height: 2.5rem;
	animation: my-shop 10s ease 0s ;
}

@-webkit-keyframes my-shop{
	0%{left:27%;}
	50%{left: 85%;}
	100%{left: 27%;}
}
/*  */
 form p {
 	margin: 1.5rem 0;
 	font-size: 1rem;
 }
 form p input{
 	height: 2rem;
 }
form p input{
	position: absolute;
	right: 1rem;
}
form p:nth-child(7) input{
	position: absolute;
	right: 5.5rem;
	width: 1.5rem;
	height: 1.5rem;
}
form p:nth-child(8) input{
	width: 50%;
	height: 2.5rem;
	background: #ccc;
	font-size: 1rem;
	border: none;
}




.increases{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

.foot{
	width: 100%;
	height: 6rem;
	position: absolute;
	bottom: 0;
}

/* 是否删除 */
.delete{
	position: absolute;
	top: 30%;
	left: 10%;
	z-index: 999;
	width: 80%;
	height: 10rem;
	background: skyblue;
	border: 1px solid black;
	display: none;
}
.delete b{
	display: block;
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
}
.delete span{
	float: left ;
	display:block;
	width: 50%;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	font-size:2rem; 
	font-weight: 900;
	border-top: 1px solid black;
}
.delete span:nth-child(3){
	border-left: 1px solid black;
}	

